git rm -r --cached .HELP.md
target/
### meetingroom/target/*
.DS_Store
!.mvn/wrapper/maven-wrapper.jar

### STS ###  sdf
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

dump.rdb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
